<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.com.chenxin.dao.JsHmdWdxMapper" >
  <resultMap id="BaseResultMap" type="cn.com.chenxin.model.JsHmdWdx" >
    <!--
      WARNING - @mbggenerated
    -->
    <result column="XM" property="xm" jdbcType="VARCHAR" />
    <result column="GMSFHM" property="gmsfhm" jdbcType="VARCHAR" />
    <result column="SJHM" property="sjhm" jdbcType="VARCHAR" />
    <result column="JKCS" property="jkcs" jdbcType="VARCHAR" />
    <result column="JKRQ" property="jkrq" jdbcType="DATE" />
    <result column="JKQS" property="jkqs" jdbcType="VARCHAR" />
    <result column="JKJE" property="jkje" jdbcType="DECIMAL" />
    <result column="YHJE" property="yhje" jdbcType="DECIMAL" />
    <result column="WHJE" property="whje" jdbcType="DECIMAL" />
    <result column="YQRQ" property="yqrq" jdbcType="DATE" />
    <result column="YQTS" property="yqts" jdbcType="DECIMAL" />
    <result column="ZDYQTS" property="zdyqts" jdbcType="DECIMAL" />
    <result column="FXLB" property="fxlb" jdbcType="VARCHAR" />
    <result column="FXXX" property="fxxx" jdbcType="VARCHAR" />
    <result column="XXLX" property="xxlx" jdbcType="VARCHAR" />
    <result column="LYFL" property="lyfl" jdbcType="VARCHAR" />
    <result column="CJRQ" property="cjrq" jdbcType="DATE" />
  </resultMap>
  
  <!-- <select id="hmdCxService1queryWd" resultType="Integer">
  	select 1 from js_hmd_wdx t where (t.gmsfhm = #{gmsfhm} OR t.gmsfhm=substr(#{gmsfhm},1,10)||'****'||substr(#{gmsfhm},15,4)) and t.gmsfhm is not null AND ROWNUM=1
  </select>
  <select id="hmdCxService2queryWd" resultType="Integer">
  	select 1 from js_hmd_wdx t where t.sjhm = #{sjhm} and t.sjhm is not null AND ROWNUM=1
  </select> -->
  <select id="queryWd" resultType="JsHmdWdx" resultMap="BaseResultMap">
  	select t.jkcs,t.jkrq,t.jkje from js_hmd_wdx t where t.xm = #{xm} and t.xm is not null and t.sjhm = #{sjhm} and t.sjhm is not null AND ROWNUM=1
  </select>
  <select id="hmdCxService4queryWd" resultType="JsHmdWdx" resultMap="BaseResultMap">
  	select t.jkcs,t.jkrq,t.jkje from js_hmd_wdx t where t.xm = #{xm} and (t.gmsfhm = #{gmsfhm} OR t.gmsfhm=substr(#{gmsfhm},1,10)||'****'||substr(#{gmsfhm},15,4)) and t.xm is not null and t.gmsfhm is not null AND ROWNUM=1
  </select>
</mapper>