<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.com.chenxin.dao.JsQyzxQyhyMapper">
  <resultMap id="BaseResultMap" type="cn.com.chenxin.model.JsQyzxQyhy">
    <!--
      WARNING - @mbggenerated
    -->
    <result column="QYMC" jdbcType="VARCHAR" property="qymc" />
    <result column="YYZZZCH" jdbcType="VARCHAR" property="yyzzzch" />
    <result column="FRXM" jdbcType="VARCHAR" property="frxm" />
    <result column="CLRQ" jdbcType="DATE" property="clrq" />
    <result column="JYZT" jdbcType="VARCHAR" property="jyzt" />
    <result column="GXRQ" jdbcType="DATE" property="gxrq" />
    <result column="LYID" jdbcType="DECIMAL" property="lyid" />
    <result column="CJRQ" jdbcType="DATE" property="cjrq" />
    <result column="SF" jdbcType="VARCHAR" property="sf" />
  </resultMap>
</mapper>