<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.com.chenxin.dao.GS.MortGuaranteeInfoMapper" >
  <resultMap id="BaseResultMap" type="cn.com.chenxin.model.GS.MortGuaranteeInfo" >
    <!--
      WARNING - @mbggenerated
    -->
    <result column="GUA_ID" property="guaId" jdbcType="VARCHAR" />
    <result column="MORREG_ID" property="morregId" jdbcType="VARCHAR" />
    <result column="GUANAME" property="guaname" jdbcType="VARCHAR" />
    <result column="OWN" property="own" jdbcType="VARCHAR" />
    <result column="REMARK" property="remark" jdbcType="VARCHAR" />
    <result column="GUADES" property="guades" jdbcType="VARCHAR" />
    <result column="S_EXT_NODENUM" property="sExtNodenum" jdbcType="VARCHAR" />
    <result column="S_EXT_TIMESTAMP" property="sExtTimestamp" jdbcType="DATE" />
    <result column="S_EXT_BATCH" property="sExtBatch" jdbcType="VARCHAR" />
    <result column="S_EXT_SEQUENCE" property="sExtSequence" jdbcType="VARCHAR" />
    <result column="S_EXT_VALIDFLAG" property="sExtValidflag" jdbcType="VARCHAR" />
    <result column="S_EXT_ICODE" property="sExtIcode" jdbcType="VARCHAR" />
    <result column="S_EXT_CODETIME" property="sExtCodetime" jdbcType="DATE" />
  </resultMap>
</mapper>